@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --primary-color: #0e4bf1;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #4da3ff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;

  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

nav {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.s {
  display: flex;
  align-items: center;
  height: 45px;
  padding-right: 95px;
  cursor: pointer;
}
.s:hover {
  height: 40px;
  transform: rotate(99deg);
  transform: scale(0.95);
  background: blue;
  color: white;
  transition-property: width;
  transition-duration: 9s;
  transition-delay: 2s;
  transition: 0.6s;
  padding-right: 95px;
}
.s:hover a {
  color: white;
}
i:hover {
  color: blue;
  transition: 0.2s;
}

aside {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 255px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);
  z-index: 1;
}
aside.close {
  width: 73px;
}
aside .logo-name {
  display: flex;
  align-items: center;
}
aside .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}
aside .logo-image img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

aside .logo-name .logo_name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}
aside.close .logo_name {
  opacity: 0;
  pointer-events: none;
}
.f {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 6px;
  font-size: 14px;
}
.as-item {
  padding: 10px 28px;
  background-color: #f9fbfd;
  border: 1px solid #f4f4f4;
  border-radius: 11px;
  text-align: center;
  color: #869ab8;
  width: 120px;
}
.as-item:hover {
  color: #315fe9;
}
a {
  text-decoration: none;
}
.nav-link {
  text-align: center;
}
aside .menu-items {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-items li {
  list-style: none;
}
.menu-items li a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}
.nav-links li a:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
body.dark li a:hover:before {
  background-color: var(--text-color);
}
.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}
.menu-items li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}
nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name {
  color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
  color: var(--text-color);
}
.menu-items .logout-mode {
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}
.menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}
.switch:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
  transition: var(--tran-03);
}
body.dark .switch:before {
  left: 20px;
}
.row {
  margin-left: 260px;
}
.ro {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  margin-right: 9px;
}
.w {
  display: grid;
  height: 250px;
  grid-template-columns: repeat(2, 1fr);
}
.card-img-overlay {
  overflow: hidden;
}
.ro .c {
  overflow: hidden;
}
.card {
  background-image: linear-gradient(40deg, #041525dd, #124cfb32),
    url("pic-1.png");
  width: 100%;
  background-size: cover;
  overflow: hidden;
  transition: 0.6s;
}
.card:hover {
  transform: scale(1, 1.1);
  overflow: hidden;
  border-radius: 19px;
}

@media (max-width: 1000px) {
  .ro {
    margin-left: 0px;
    overflow: hidden;
  }
  aside {
    width: 1px;
    display: none;
  }
  nav.close {
    width: 20px;
  }
  aside .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 1;
    pointer-events: auto;
  }
  aside li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }
  aside ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }
  aside ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard .top {
    left: 250px;
    width: calc(100% - 250px);
  }
}

@media (max-width: 400px) {
  aside {
    width: 0px;
  }
  nav.close {
    width: 73px;
  }
  aside .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  aside li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  aside ~ .dashboard {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  aside ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
}

@media (max-width: 780px) {
  .ro {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    margin-right: 9px;
  }
}
@media (max-width: 600px) {
  .ro {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
    margin-right: 9px;
    text-align: center;
  }
  .w {
    display: grid;
    height: 300px;
    grid-template-columns: repeat(1, 1fr);
  }
}
